{% extends 'common/base.html' %}

{% block title%}Cart{% endblock%}

{% block content %}

<div class='container'>
    <div class='row justify-content-center'>
        <h1>My Cart</h1>
    </div>
    <div class='row justify-content-center'>
        <div class='col-lg-4 col-md-6 col-sm-12'>
            {% if not cart.product.count %}
            <h5 class='text-center'>Your cart is empty!</h1>
            <h5 class='text-center'><a href="{% url 'product-type'%}">Browse our products page to add items</a></h5>
            {% else %}
            <div class='card p-2 display-card'>
                {% for item in cart.cartproduct_set.all %}
                <div class='card-body pb-0 mb-0 pt-0 mb-0'>
                    <p class='p-0 m-0'>{{ item.quantity }}x {{ item.product.name }}
                        <span class='pull-right'>
                        {% if item.product.discounted_price %}
                        {{ item.product.discounted_price }}K Rwf <a class='text-danger' href="{% url 'delete-cart-item' item.product.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        {% else %}
                        {{ item.product.price }}K Rwf <a class='text-danger' href="{% url 'delete-cart-item' item.product.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        {% endif %}
                        </span>
                    </p>
                </div>
                <hr class='m-1'>
                {% endfor %}
                <div class='card-body'>
                    <p class='p-0 m-0'><strong>Total Price<span class='pull-right'>{{ cart.total_price }} Rwf</span></strong></p>
                </div>
                <div class='card-body'>
                    <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                    <button class='btn btn-primary m-auto d-block rounded'type="button" onClick="payWithRave()"> 
                     checkout 
                    </button>
                </div>
               
        <script>
          const publicKey = "FLWPUBK_TEST-9193d2f98d417161c23704acbc586ff0-X";
          const customer_phone = "0787562402";
          const total_amount = "{{ cart.total_price }}"
          function payWithRave() {
            var x = getpaidSetup({
              PBFPubKey: publicKey,
              customer_email: "irafidela@gmail.com",
              customer_phone: customer_phone,
              amount:total_amount,
              currency: "RWF",
              txref: "rave-123456",
              custom_title: "BookMe",
              onclose: function () { },
              callback: function (response) {
                var txref = response.tx.txRef;
                if (
                  response.tx.chargeResponseCode == "00" ||
                  response.tx.chargeResponseCode == "0"
                ) {
                  const data = { sender: 'BookMe', phone: customer_phone, sms: "Thank you" };
                  const headers = new Headers();
                  const proxyurl = "https://cors-anywhere.herokuapp.com/";
                  const url = 'https://auth-sms.herokuapp.com/Send';
                  headers.append('Content-Type', 'application/json');
                  headers.append('Accept', 'application/json');
                  headers.append('Origin', 'https://auth-sms.herokuapp.com/Send');
                  fetch(proxyurl+url, {
                    method: 'POST', // or 'PUT'
                    headers: headers,
                    body: JSON.stringify(data)
                  })
                    .then(response => response.json())
                    .then(data => {
                      console.log('Success:', data);
                    })
                    .catch((error) => {
                      console.error('Error:', error);
                    });

                    document.location.href = "checkout/";
                  // redirect to a success page
                } else {
                  // redirect to a failure page.
                }
                x.close();
              }
            });
          }

        </script>

            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}