{% load static %}
<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
    </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar py-1" role="banner">
    {% include 'common/user_menu.html' %}
    <div class="container-fluid">
    <div class="row align-items-center">
        
        <div class="col-6 col-xl-2" data-aos="fade-down">
        <a href="{% url 'home' %}" class="text-black h2 mb-2">
            <img src="/media/images/bookme_logo.png" height="70px" width="70px">
        </a>
        </div>
        <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
        <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                
                <li {% if request.resolver_match.url_name == 'service-type' %}class="active"{% endif %}>
                    <a href="{% url 'service-type' %}">Appointments</a>
                </li>
                <li {% if request.resolver_match.url_name == 'product' %}class="active"{% endif %}>
                    <a href="{% url 'product-type' %}">Products</a>
            
                </li>

                <li {% if request.resolver_match.url_name == 'blog' %}class="active"{% endif %}>
                    <a href="{% url 'blog' %}">Blog</a>
            
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contact
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'review'%}">Review</a>
                        <a class="dropdown-item" href="{% url 'testimonial'%}">Testimonial</a>
                        <a href="{% url 'about' %}">About</a>
        
                    </div>
                </li>
                <li {% if request.resolver_match.url_name == 'gallery' %}class="active"{% endif %}>
                    <a href="{% url 'gallery' %}">Gallery</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'manage-account' %}">Account Management</a>
                        <a class="dropdown-item" href="{% url 'manage-site' %}">Site Management</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
        
                    </div>
                </li>
                {% else %}
                <li {% if request.resolver_match.url_name == 'signup' %}class="active"{% endif %}>
                    <a href="{% url 'signup'%}">Sign Up</a>
                </li>
                <li >
                    <a href="/accounts/login/">Log In</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        </div>

       

    </div>
    </div>
    
</header>